<!DOCTYPE html>
<html>
    <head>
        <title>Dogspot | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="stylestore.css" />
        <script src="store.js" async></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
            </nav>
            <h1 class="band-name band-name-large">Dog Food</h1>
        </header>
        <section class="container content-section">
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">pedigree</span>
                    <img class="shop-item-image" src="pedigree.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs500</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">kennel kitchen</span>
                    <img class="shop-item-image" src="kennel.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs350</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Chappi</span>
                    <img class="shop-item-image" src="chappi.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs460</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Drools</span>
                    <img class="shop-item-image" src="drools.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">Rs700</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">Rs0</span>
            </div>
            <a href="Billing.html"><button class="btn btn-primary btn-purchase" type="button">PURCHASE</button></a>
        </section>
    </body>
</html>